[2017-01-04 06:28] codeliner opened #2 "Bump event store package"
- [ ] bump version to event-store v7
- [ ] identify required changes in the set up logic
    - event store interface
    - new plugin registration
    - Aggregate and Snapshot namespaces moved to prooph/event-sourcing
    - persistent projections
- [ ] tbd

[2017-02-14 11:33] mablae opened #3 "Add docs on snapshotting plugins"
[code]
From gitter: (@SandroKeil)
@itcraftsmanpl You can register the snapshotter as a plugin https://github.com/prooph/service-bus-symfony-bundle/blob/master/doc/getting_started.md

[2017-02-14 11:46] itcraftsmanpl commented on #3
@mablae thanks, save my day :+1:

[2017-02-14 12:27] mablae commented on #3
@itcraftsmanpl I just wanted to safe it here as a reminder for us to add to docs

[2017-02-21 22:44] codeliner commented on #2
@rabbl @mablae @UFOMelkor I've added some notes. Let me know if you need more details!

[2017-02-22 06:24] rabbl commented on #2
As symfony ships with doctrine by default, we could provide a doctrine-eventstore instead of the pdoEventstore. Or inject the doctrine connection to the pdoEventStore.

[2017-02-22 06:36] prolic commented on #2
You can inject the connection, but doctrine dbal is not good for event
store, because it lacks batch inserts.

Am 22.02.2017 14:24 schrieb "Ralf Junghanns" <notifications@github.com>:

[2017-02-22 06:51] UFOMelkor commented on #2
Should be [no problem](http://symfony.com/doc/current/service_container/service_decoration.html).

Another point for the v7 roadmap: Lets finally add documentation for the bundle.

[2017-02-22 08:14] mablae commented on #2
@codeliner Thank you! The related WIP PR is here: #4

[2017-02-22 11:26] mablae commented on #2
@codeliner Should `event-store-symfony-bundle` rely on `event-sourcing` or is EventSourcing optional?

[2017-03-28 22:49] lunetics opened #5 "Configuration value of the repositories / Service naming"
I propose to use a different naming for the repositories.

Given:
[code]
will create a service named '@foo_collection', which is prone to errors (no namespace etc.). Upcoming symfony versions propose or use alread the FQCN as service-id, which makes it unique.

So a new configuration could look like:

[code]
There we enforce the FQCN for once as service-id, which is at the same time the repository

[2017-03-29 17:55] codeliner commented on #5
I would not force it, but suggest it in the docs. F.e. I prefer to have a `UserCollection` or `UserRepository` interface and use that as service id instead of the concrete implementation.

[2017-03-29 18:05] UFOMelkor commented on #5
AFAIK are FQCN as service ids not yet widely used. Therefore forcing it would IMHO be hard and an unnecessary hurdle.
But I have nothing against making the `repository_class` optional. Less necessary configuration is (mostly) good :-)

[2017-03-30 00:42] lunetics opened #6 "Datacollector / Debug Toolbar"
Currently playing around with the Symfony DataCollector. To get "real" debugging, would it be an option to extend the event-store with a logger? (could be nulllogger by default, so no overhead)

[2017-03-30 04:02] prolic commented on #6
Again, plugin will do it.

Am 30.03.2017 08:42 schrieb "Matthias Breddin" <notifications@github.com>:

[2017-03-30 12:24] mablae opened #7 "Configuration for concrete event-store missing"
As discussed on Gitter: At the moment the event-store implementation to be used needs to be configured by the users as a "Userland Service"

Better:
Extend `Configuration` class with the needed parameters for a `\PDO` connection and automatically instantiate the concrete implementation in the Dependency Injection Extension.

[2017-04-15 08:41] mablae commented on #6
WIP: #9

[2017-05-26 16:50] codeliner opened #13 "Fix tests"
Tests on master are currently broken. We have some open PRs so maybe this problem is fixed with one of them @prooph/symfony-team ?

[2017-06-20 18:30] #13 closed

[2017-06-20 19:08] UFOMelkor commented on #2
@mablae @codeliner Can this be closed?

[2017-06-20 20:33] codeliner commented on #2
#4 is merged so I'd say yes

[2017-06-20 20:33] #2 closed

[2017-08-10 14:16] vilnitsky opened #16 "event_store service in the latest 1.0.x-dev event-store-symfony-bundle"
Could someone please advice if it is possible to use the dev version of event-store-symfony-bundle already?

I can't figure out how to create PostgresEventStore with transactions to use in event_store as before.

Since event-store-doctrine-adapter is deprecated, it isn't possible to create event store using DoctrineEventStoreAdapter I suppose we should use pdo-event-store somehow now.

[2017-08-12 14:49] sandrokeil commented on #16
@vilnitsky Look at this [diff](https://github.com/inowas/inowas_api/commit/c0dff18c17c283331010f5fa0e776496f30e1392) for migrating to Event Store V7 with own factories. It's not hard to use your own factories.

[2017-08-16 11:08] vilnitsky commented on #16
@sandrokeil thanks, I also figured out that there is a PR waiting https://github.com/prooph/event-store-symfony-bundle/pull/10
We should be good once it is merged.

[2017-08-16 11:08] #16 closed

[2017-09-26 22:04] codeliner opened #17 "Document new features"
- [ ] [Add projections via configuration](https://github.com/prooph/event-store-symfony-bundle/pull/11)
- [ ] tbd

[2017-09-30 18:45] camuthig opened #18 "Read model projections not deleted and reset"
Using the latest projection configurations and commands, when a `ReadModel` is set on a projection and either `event-store:projection:delete` or `event-store:projection:reset` is called the `delete` and `reset` functions on the `ReadModel` are not also called.

[2017-09-30 19:14] #18 closed

[2017-10-01 22:32] codeliner opened #21 "projection:names command should work without projection name argument"
Tried a short fix: https://github.com/prooph/event-store-symfony-bundle/pull/20
But this breaks the command entirely, so we need to find a better way.

[2017-10-11 09:45] mnwk opened #23 "Ramsey/uuid 3.x"
It is still not possible to use ramsey uuid 3.x with symfony.
[code]

[2017-10-11 12:51] codeliner commented on #23
Current master branch is up-to-date but we don't have a new release, because tests and documentation is missing. You could use dev master for now. API of the bundle should not change. Check https://github.com/prooph/proophessor-do-symfony to see how the new bundle can be used within a symfony 4 application.

[2017-10-12 21:35] camuthig commented on #21
Should the command be displaying the projections for all managers or should it take a `manager` argument with the name of the manager? I can see benefits to both ways.

[2017-10-12 22:00] codeliner commented on #21
Good idea/question

What about: by default for all managers with an option to filter by manager name?

[2017-10-13 01:24] camuthig commented on #21
That works for me. I've got something in the works right now. Need to get the offset right and then I will submit a PR.

[2017-10-13 07:18] #21 closed

[2017-10-13 12:31] hvanoch opened #25 "Command event-store:projection:names broken"
The symfony command event-store:projection:names is broken.
it now returns

It is because it extends the AbstractProjectionCommand which tries to get the projection name of the argument. But that is not used in that command.

[2017-10-13 12:35] codeliner commented on #25
@hvanoch Can you retry with latest master? Merged the fix 5h ago ;)
https://github.com/prooph/event-store-symfony-bundle/pull/24

[2017-10-13 13:14] hvanoch commented on #25
Perfect! Thanks.

[2017-10-13 14:33] codeliner commented on #25
great!

[2017-10-13 14:33] #25 closed

[2017-10-28 16:58] codeliner opened #26 "Symfony flex recipe"
We should think about adding a recipe for the bundle to the [recipes contrib repo](https://github.com/symfony/recipes-contrib)

[2017-10-30 13:50] UFOMelkor opened #28 "Configure repositories using tags"
Currently projections and plugins can be configured using tags and in the service bus bundle plugins and routing can be done using tags.

Just aggregate repositories cannot be configured using tags.

[2017-10-30 13:59] UFOMelkor opened #29 "Allow service references with a prefix @"
Will provide autocompletion in some IDEs and is more consistent with prooph/service-bus-symfony-bundle.

Would be necessary at
 - `stores.<StoreName>.event_store`
 - `stores.<StoreName>.repositories.<RepositoryId>.aggregate_translator`
 - `projection_managers.<ManagerName>.event_store`
 - `projection_managers.<ManagerName>.connection`
 - `projection_managers.<ManagerName>.projections.<ProjectionNa

[2017-10-30 14:07] UFOMelkor opened #30 "Raise version of symfony dependencies"
Currently the bundle requires the symfony dependencies in version `~2.8 || ~3.0`.
Within the DI-Extension the `Symfony\Component\DependencyInjection\DefinitionDecorator` is used which is deprecated since v3.3 and will be removed in v4.0.

Because the service-bus-symfony-bundle already requires at least v3.3, I would suggest to raise the version of the symfony dependencies to `~3.3` and get rid of

[2017-12-14 14:31] enumag commented on #30
Any news? This bundle is the last dependency blocking me from Symfony 4.

[2017-12-14 14:35] enumag commented on #23
This can be closed now - fixed by v0.3.

[2017-12-14 20:36] UFOMelkor commented on #30
service-bus-symfony-bundle is almost ready for a stable release, so I hope to have more time for the event-store-symfony-bundle next weeks.

First thing I plan to start with are tests. Once they are done, Symfony 4 / PHP 7.2 might be the next to address. As always every help is appreciated 😉

[2017-12-15 08:28] #23 closed

[2017-12-18 09:58] enumag commented on #30
I could help with the upgrade but without existing tests it would not be safe. I do not know enough about prooph to write the tests myself. Let me know when the tests are done, I'll see what I can do about Symfony 4.

[2017-12-22 13:51] kejwmen commented on #28
Hi!
It looks like an easy pick, but I don't get what should be configured here.

Repository definition looks pretty straightforward, so what should be handled there? Aliasing?

[2017-12-22 13:55] enumag commented on #28
@kejwmen It's about the ability to mark a service as a repository using a tag (probably with some metadata) instead of explicitly listing it in the bundle configuration. When that's the case services can be found and configured automatically using compiler passes meaning no explicit configuration for each repository.

[2017-12-22 15:40] kejwmen commented on #28
I got this, but everything you can set using bundle configuration (service references, parameters) is already configurable when you create your own service definition because of `prooph_event_store.repository_factory`.

That's how repo definition created in extension looks currently:

[code]

Factory is also straightforward:

[code]

If I understand it correctly there is nothing that could be done

[2018-01-08 18:05] UFOMelkor commented on #5
Implemented in #32

[2018-01-08 18:05] #5 closed

[2018-01-31 05:39] mkurzeja opened #37 "Deprecated relying on its factory's return-type to define the class of service"
In some environments I get the following error:

```Relying on its factory's return-type to define the class of service "prooph_event_store.projection_manager.xxx_projection_manager" is deprecated since Symfony 3.3 and won't work in 4.0. Set the "class" attribute to "Prooph\EventStore\Projection\ProjectionManager" on the service definition instead: 1x```

I assume the best solution is to add the c

[2018-02-04 19:04] mkurzeja commented on #37
In some environments: each time when I run phpunit on my test suite and Symfony is building the dependency injection container - I get this error. Whats worse, phpunit is returning != 0 exit code.

I'm currently warming up the cache before running tests, but it would be great to fix this issue.

[2018-02-20 11:00] codeliner commented on #37
Solved by #38

[2018-02-20 11:00] #37 closed

[2018-02-21 12:49] #30 closed

[2018-03-12 09:03] enumag opened #40 "How to use SingleStreamStrategy?"
I'm trying to enable SingleStreamStrategy to fix performance issues in projections (see https://github.com/proophsoftware/es-emergency-call/issues/5 for details).

For now I'm unable to get it working. EventStore still makes one stream per aggregate instead of per aggregate type. Here is my current configuration:

[code]

In the documentation I found a link to [this example](https://github.com/pro

[2018-03-12 09:24] enumag commented on #40
Ok it seems it needs to be configured on each repository definition as well:

[code]

Now however eventstore only uses that one stream I created based on the example script linked above. All events from all aggregate types are mixed in this stream. How can I separate them to one stream per aggregate type?

[2018-03-12 09:49] enumag commented on #40
Ok more progress. Looks like I need to override [`AggregateRepository::determineEventStream`](https://github.com/prooph/event-sourcing/blob/67fa365e0ef2dc9b22884126d3748679e0958968/src/Aggregate/AggregateRepository.php#L284-L301) with this:

[code]

Now I need to correctly initialize the event streams which means I need to somehow ask prooph for names of all aggregate types that exist throughout t

[2018-03-12 14:48] enumag commented on #40
@UFOMelkor I didn't realize I need to put that to database migrations. Thanks for pointing it out.

Well this pretty much resolves this issue for me. But it is probably a good idea to add some notes to the documentation about how to setup the SingleStreamStrategy. As you can see I've spent some time to get it working so it's not exactly clear.

[2018-03-12 14:54] UFOMelkor commented on #40
Definitely – I will let the issue open for the documentation :+1:

[2018-03-13 21:03] #29 closed

[2018-03-16 15:45] Miljar opened #42 "Projections defined as services cannot be found"
On Symfony4 and event-store-symfony-bundle 0.4, it's not possible to define your projections as a service, and then run them.

Example service definition:
[code]

Projections are expected to be added to the event store via the config. Example:
[code]

This configuration causes the `ProophEventStoreExtension` class to create new services in the container with id `prooph_event_store.projection.<proj

[2018-03-16 15:48] Miljar commented on #42
My suggested fix would be:

- Create a map of `projection_name => projection_class` from the list of services tagged with `prooph_event_store.projection`
- Before creating the new definition for the given Projection class, check if it exists in the map. If it does, create an alias instead

[2018-04-25 10:30] enumag opened #46 "Graceful shutdown on interrupt"
I just encountered an issue where one of my projection was in an invalid state after being interrupted during previous run. The state of the projection was not saved to the database correctly

I believe the projection commands in this bundle could and should catch interruption signals like Ctrl+C and shutdown correctly when it happens using `pcntl_signal` function. Something like this (by @prolic)

[2018-04-25 12:00] UFOMelkor commented on #46
Unfortunately I've never tried workwing with it too.
But this is definitively something we should look for.

[2018-04-25 13:03] prolic commented on #46
@UFOMelkor it's really as simple as:

[code]

[2018-04-25 13:04] prolic commented on #46
Note:

Ctrl+C - SIGINT
Ctrl+\ - SIGQUIT

[2018-04-26 07:54] enumag commented on #46
I looked into this for a little bit. It only works when `$options[PdoEventStoreReadModelProjector::OPTION_PCNTL_DISPATCH]` is set to true. Currently it's impossible to set it that way because `AbstractProjectionCommand` doesn't pass any options when calling `ProjectionManager::createReadModelProjection()`.

[2018-04-26 08:33] enumag commented on #46
Another thing is that `pcntl_signal_dispatch();` doesn't seem to be called often enough. I believe it should be added to the end of `ReadModelProjector::persist()`.

[2018-05-02 07:39] enumag commented on #46
ping @prolic @UFOMelkor

[2018-05-02 07:54] fritz-gerneth commented on #46
If you want to handle all scenarios for interrupts and means of termination you will have to add additional signals to listen for (SIGTERM, SIGINT, SIGQUIT, (SIGHUB)). Only listening to SIGINT won't catch all instances of how a process can be forced to quit.
The places where the current dipatches are located are quite intentional: before and after one full loop of processing. Having this in betwee

[2018-05-03 07:50] enumag commented on #46
That's not really the goal here. I just want a fix for regular interrupt.

What scenario would be broken by dispatch in the projector persist method? As far as I can tell it seems to be a safe place for it.

I was thinking about something like that too but I still prefer to have it fixed in prooph. Besides this doesn't fix the problem of too long time between dispatch calls which is the main issue

[2018-05-03 08:34] fritz-gerneth commented on #46
That's an interrupt between applying the data and saving the information this data has been applied. As this is not running within an transaction, quiting before saving the state  would result in an event applied in the read model (e.g. row created) but the state not persisted. E.g. on next start the event would be re-applied again. Now this is all old "at least once" delivery and "make your read

[2018-05-03 08:36] prolic commented on #46
@fritz-gerneth that's no longer true, see https://github.com/prooph/pdo-event-store/pull/144

[2018-05-03 08:37] prolic commented on #46
@fritz-gerneth the change is released with v1.8.1 (https://github.com/prooph/pdo-event-store/releases/tag/v1.8.1)

[2018-05-03 08:41] fritz-gerneth commented on #46
And here I was sitting on 1.8.0 :) v1.8.1 very well might solve this issue then :)

[2018-05-03 08:48] enumag commented on #46
I missed that PR too. That should solve my issues with dispatch then.

Next we need a way to configure the options with this bundle.

[2018-05-03 10:15] UFOMelkor commented on #42
Fixed in #43

[2018-05-03 10:15] #42 closed

[2018-05-15 11:41] Adapik commented on #46
I think we should pass `options` to `createReadModelProjection` and define them in bundle config/parameters (`event_store.xml ` (?)). Also we should be able to register custom signal handlers (collect them via tag). I suppose signal handlers should be placed in your application but we can place SIGINT handler into the `symfony-event-store-bundle` by default.

[2018-05-29 17:39] darrylhein opened #49 "Options for projection in command"
What's the recommended way to pass options to a projection? I'm looking to change the [projector options](https://github.com/prooph/event-store/blob/master/src/Projection/Projector.php#L20).

I'm currently using the `event-store:projection:run` command but as far as I can tell, there's no way to modify the options without creating a new command with a lot of the code that's in `AbstractProjectionC

[2018-06-01 16:59] gquemener opened #50 "Prevent autowiring to malfunction while defining aggregate repositories"
# The "problem"

Today, there are two ways to define aggregate repositories using this bundle:

[code]
and
[code]

The later has the huge benefit of allowing autowiring to work out of the box.

As a matter of fact, the `repositories` key will be used as the service id and this is not obvious from a developer perspective.

The result will be that developers will get an error stating than the `Event

[2018-07-13 10:05] Miljar opened #51 "Command event-store:projection:names does not use provided limit"
When providing a limit, it is not used:
[code]

Returns the default amount of 20 projection names.

When I look into the code, the provided limit is simply not passed to the method for fetching the projection names:

[code]

[2018-07-13 11:42] prolic commented on #51
@Miljar Can you submit a PR and include some tests?

[2018-12-14 11:53] bwowk opened #54 "Incorrect values on parameter prooph_event_store.projection_managers"
In this excerpt I believe the `prooph_event_store.projection_managers` was supposed to contain the projection managers names, but currently they're prepended with `prooph_event_store`:

https://github.com/prooph/event-store-symfony-bundle/blob/5f0aeca45ae79fecd02416f3165fd062131aa7de/src/DependencyInjection/ProophEventStoreExtension.php#L64-L80

That parameter is only used on the `ProjectionNamesC

[2018-12-17 15:36] codeliner commented on #54
ping @UFOMelkor: any thoughts on this?

[2018-12-31 16:00] camilledejoye opened #55 "ProjectionManagerFactory doesn't handle EventStoreDecorator"
Hi there,

First of all, thanks for the work done!

It appears that the ProjectionManagerFactory hard code the types of allowed EventStore.
My problem was that I'm using a TransactionalActionEventEmitterEventStore, to be specific :)

So when I tried to configure a projection manager to use this store, if failed.
Indeed this store doesn't implement any of the providing PDO implementation of the eve

[2019-01-07 20:37] codeliner commented on #55
@elythyr thx! The proposed solution looks good! PR would be great

[2019-01-07 20:53] codeliner commented on #51
Closing because bug solved with PR #52

[2019-01-07 20:53] #51 closed

[2019-01-22 18:12] danizord commented on #49
@darrylhein how about adding support for projector options in the projections yaml config?

[2019-01-22 18:16] darrylhein commented on #49
@danizord I'm guessing you'd need separate nodes in the yaml config for each projection. I like the idea of passing them to the command as it gives you the ability to change on the fly and not have to update the config. But, it would be nice in yaml or other config that it'd remember for you. But maybe it'd be better to have a separate command for each projection if there's a lot of customization

[2019-01-22 18:35] danizord commented on #49
@darrylhein

We already do, under `projections` we have a node for each projection.

Can't we have both? :)

[2019-02-19 10:59] ambroisemaupate opened #58 "How to register event-store plugins such as Metadata enricher"
http://docs.getprooph.org/event-store/event_store_plugins.html

I try to to register a metadata enricher for authenticated events:

[code]
But event-store configuration does not allow plugin registering such as service-bus does.

[2019-02-19 11:30] ambroisemaupate commented on #58
Ok, after looking at services compilation, I found it out 👍

I needed to tag my MetadataEnricher with `prooph_event_store.%name%.metadata_enricher`:

[code]

[2019-02-19 11:30] #58 closed

[2019-05-20 15:23] DavidGarciaCat opened #61 "Cannot autowire service when installing the bundle"
Hey there,

When I try to install the vendor through Composer to my Symfony 4.2 project:

[code]

Then it throws an error due to the services are not defined through the Namespace\Class (or there aren't aliases for it):

![Screenshot 2019-05-20 at 16 17 43](https://user-images.githubusercontent.com/7809429/58032892-6926e180-7b1b-11e9-9df2-7ecaa26f5592.png)

This looks like a blocker for those user

[2019-06-04 18:57] webdevilopers commented on #18
I read the referenced issues for this @camuthig . Maybe I am misunderstanding the functionality of these commands. As @codeliner states:

* https://github.com/prooph/event-store-symfony-bundle/pull/19#issuecomment-333329608

What I expected calling "reset" would is executing the "reset" method on my "read model class" e.g. from the proophessor example:

[code]

* https://github.com/prooph/proophes

[2019-06-06 15:36] camuthig commented on #18
@webdevilopers I believe I made the same assumption you did when I originally wrote the ticket. The `reset` command does not directly call the function on your read model. All the reset command does is set the state of your read model. If you look at the implementation in the [MySqlProjectionManager](https://github.com/prooph/pdo-event-store/blob/master/src/Projection/MySqlProjectionManager.php#L1

[2019-06-06 19:01] webdevilopers commented on #18
Thanks for the feedback.
Did I get this right? I open two terminals. One running:
[code]
And keep it running.

Then in a second terminal I can call:
[code]

Then the read model "delete" method is supposed to be called?
Because that is not happening in my case. Instead the first command stops running. And the table was not dropped. Also not resetted / truncated.

Or are we talking about a different

[2019-08-21 09:02] dimacros commented on #61
I also have the same error

[2019-09-10 10:43] webdevilopers commented on #58
Thanks for this solution @ambroisemaupate . Do you know if this works with `"prooph/event-store": "6.6.1"` too?!

[2019-09-10 11:28] webdevilopers commented on #58
I'm currently trying to migrate this to *v6.6.1*.

[code]

It looks like the Plugin is registered but I get:
[code]

My Plugin is based on the example by @prolic :
* https://www.sasaprolic.com/2015/10/adding-custom-metadata-to-domain-events.html

I also tried switching to the `ActionEventListenerAggregate` interface. But when adding the "attach" method in Sascha's example I get *Attempted to call

[2019-09-10 11:32] webdevilopers commented on #58
Ok, I was missing the `DetachAggregateHandlers` trait.
After adding it I get the same message when using the `Plugin` interface:
*Message dispatch failed during locate-handler phase. Error: Given parameter listener should be callable or an instance of ActionEventListener. Got array*

Guess I am still missing some method...

[2019-09-10 11:34] webdevilopers commented on #58
Ok, looks like my service classes go a little mixed up. I found a solution and will post it here soon.

[2019-09-10 11:39] webdevilopers commented on #58
My final services config looks exactly like the suggested solution by @ambroisemaupate . For some reason symfony did not correctly autowire it.

Excuse me!

[2019-10-15 11:26] siwymilek opened #65 "Repository autowiring doesn't work"
I can't autowire repositories – is this an issue or deliberate action?
Here is my event store configuration:

[code]

And here is the error:

[2019-10-16 10:05] ambroisemaupate opened #66 "Add a --time-limit option for event-store:projection:run command"
In production, `bin/console event-store:projection:run` command may be executed during a long time, we should be able to kill it after a given time in the same way *Symfony Messenger* consumers do to avoid PHP memory leaks. Then, using a process manager such as *Supervisor* to restart automatically worker

[code]

https://github.com/symfony/messenger/blob/master/Command/ConsumeMessagesCommand.php#

[2020-02-04 01:26] RSalo commented on #65
I have the same problem.

[2020-04-14 09:10] webdevilopers commented on #40
There is a command by @gquemener that comes with the symfony recipe:

* https://github.com/symfony/recipes-contrib/blob/master/prooph/event-store-symfony-bundle/0.4/src/Command/CreateEventStreamCommand.php

You can adapt it to your needs e.g.:

[code]

And then call it via `acme:create-event-streams` instead of the original call `event-store:event-stream:create`.

[2020-04-29 07:23] superbull commented on #65
@siwymilek @RSalo
I come across the same problem. It takes me 1 day to fix.

Change your config to something like below will work.
Assume your Repository interface is `App\Domain\Model\User\UserRepository`, change it to what ever you type hinted.

[code]

[2020-05-05 09:55] webdevilopers commented on #18
Any feedback would be appreciated.

For instance is calling "event-store:projection:delete" supposed to execte the `delete` method on the Read Model? Or does e.g an SQL table ALTER require manually deleting the old table and start running the projection again?

[code]

[2020-05-06 15:55] camuthig commented on #18
@webdevilopers it has been a long time for me, so I'll do my best to explain this as far as I can recollect.

Calling the `event-store:projection:delete` command does not call the `delete` method on the read model. It calls the `ProjectionManager` `deleteProjection` method. If you are, for example, using the Postgres event store, then this will execute an update on the projections table, setting t

[2020-05-07 08:24] webdevilopers commented on #18
Thanks @camuthig for clearing this up. What was the original intent in version 7 of adding the method on the read model then?

* https://github.com/prooph/event-store/blob/7.x/src/Projection/ReadModel.php#L24

[2020-05-08 04:20] camuthig commented on #18
I didn't implement this logic, so take my input with a grain of salt.

As you already noted, the method on the read model is meant to remove data from the model. For example, in the [proophessor-do example](https://github.com/prooph/proophessor-do/blob/master/src/Projection/Todo/TodoReadModel.php#L86) it drops all of the data from the SQL table.

The interfaces may have been implemented this way t

[2020-08-03 20:25] unixslayer opened #70 "Drop dependency to prooph/event-sourcing"
Since prooph/event-sourcing is abandoned, dependency should be dropped. This bundle do not need to support EventStore configuration for ProjectionManager to be configured properly, it only require to pass valid service that implements `\Prooph\EventStore\EventStore` interface.

Dropping this dependency will also be a good starting point to be able to integrate with EventStore:v8 much easier in the

[2020-08-05 10:07] unixslayer commented on #49
@prolic this issue can probably be closed

[2020-08-06 15:37] #49 closed

[2021-03-27 17:11] webdevilopers opened #73 "Plugins and Metadata Enrichers are not recognized"
Came from:
* https://twitter.com/webdevilopers/status/1375519349725872128

Though this could be a general (PDO) Event Store issue I post it here first to get sure it is not a Symfony wiring problem.

We successfully register projections and an Upcaster as plugin:

[code]

Upcasting works as expected when saving or getting aggregates from the `AggregateRepository`.
The used Event Store is an instan

[2021-03-29 08:04] webdevilopers commented on #73
Thank you to @prolic for confirming that the event-store should work as expected:
* https://twitter.com/sasaprolic/status/1375942840467996673

[code]

* https://github.com/prooph/event-store/blob/7.x/src/Plugin/UpcastingPlugin.php#L36

I will start debugging the symfony bridge.

[2021-03-29 09:10] webdevilopers commented on #73
So far these are the events attached to "LOAD" when using the `AggregateRepository`:

[code]

This is the version used by the Projectors - only the default listener is attached:

[code]

[2021-03-29 09:29] webdevilopers commented on #73
@prolic I noticed a difference between the `master` and `0.8.0` branch:

* https://github.com/prooph/event-store-symfony-bundle/blob/v0.8.0/src/DependencyInjection/ProophEventStoreExtension.php
* https://github.com/prooph/event-store-symfony-bundle/blob/master/src/DependencyInjection/ProophEventStoreExtension.php

Could this be related? We are indeed using `0.8.0`. The `master` features some "proj

[2021-03-29 09:30] webdevilopers commented on #73
After updating to `dev-master` I get e.g.

[code]

[2021-03-29 09:35] webdevilopers commented on #73
We couldn't find a "Upcaster " example in the docs:
* https://github.com/prooph/event-store-symfony-bundle/blob/master/doc/event_store.md

So we tried this configuration:

[code]

Since this seems to work with aggregate repositories this seems to be the correct approach.

[2021-03-30 10:13] webdevilopers commented on #73
The next thing I tried is disabling the `wrap_action_event_emitter` option on the Event Store. The result of the Event Store then changes to:

[code]

That is exactly the same Event Store configuration that can be found inside the Projectors.

That means that the Projectors need to wrap the action event emitter. But there is no such configuration option in *0.8.0* for the symfony config. Is this a

[2021-03-30 10:17] webdevilopers commented on #73
This issue seems to address the problem:
* https://github.com/prooph/event-store/issues/240 by @prolic

If I understand correctly that it was fixed here:
* https://github.com/prooph/event-store/pull/239

But I guess this bundle is still missing something.

[2021-03-30 10:20] webdevilopers commented on #73
H, this is exactly our solution:

* https://github.com/prooph/event-store/issues/240#issuecomment-270333479

@prolic Could you please explain what exactly this means for our current setup? The Projections work fine. But the action events can not be attached at all?

[2021-03-30 10:47] webdevilopers commented on #73
Regarding the changes by @lunetics :
* https://github.com/prooph/event-store-symfony-bundle/pull/10/files#diff-710030a11c8bb0da16b4fd2198dec78b8cf25607133888166ba4065c998b5c56

I checked the Event Store factory used for `AggregateRepository` and `Projector`.

Both have `$wrapActionEventEmitter` set to `true`. Both use the `Prooph\Bundle\EventStore\Factory\DefaultActionEventEmitterFactory` and the

[2021-03-30 10:51] webdevilopers commented on #73
I can also confirm that the `DefaultEventStoreFactory` correctly attaches all plugins and returns it.

![Screenshot from 2021-03-30 12-51-02](https://user-images.githubusercontent.com/3479626/112977689-a2d4c480-9156-11eb-9317-d4c40860a0da.png)

[2021-03-31 08:46] lunetics commented on #73
TBH, haven't worked deep with that component in the last year(s), will have a quick look over it (normally I even forget about code I wrote a week ago)

[2021-03-31 08:57] lunetics commented on #73
Could it be because of the priority?, i see a -1000 there

[2021-03-31 10:36] webdevilopers commented on #73
I could imagine that the following is the main problem - factories use the "inner" event store instead of the wrapped one. Then the event emitter gets lost.

[code]

[code]

[code]

[code]

[code]

[2021-03-31 11:06] webdevilopers commented on #73
I just looked at `ProjectionManagerFactory` and `PdoEventStoreProjector` - the Event Store instances that arrive at their constructor are already "not wrapped" - no event emitter.

[2021-04-06 08:48] webdevilopers commented on #73
@codeliner I sent you a DM on twitter. Hope to hear from you soon.

[2021-04-07 20:09] webdevilopers commented on #73
I think I finally found the cause for the missing wrapped event store.

[code]

This is the factory for the event store which is adding the plugins.

Looking at the symfony bundle extension this is how the dependencies are injected:

[code]

This can be compared to the projection manager factory which is missing the arguments:

[code]

I guess this has to be changed analogous:

[code]

But I am no

[2021-04-09 16:41] codeliner commented on #73
@webdevilopers It looks like the right place, yes. I'm not an expert with this symfony stuff, but if it works for you I'm happy to review and merge a PR.

[2021-04-15 11:44] webdevilopers commented on #73
I'm having problems with wiring the dependencies. I think @unixslayer originally committed the extension class.

@unixslayer Could you fix this wiring mentioned here?

[code]

I'm also not sure about the store config. Originally every event-store is looped and configured:

[code]

I'm not sure this is required for all projection managers too. For a quick testing I took the default store to get the

[2021-04-15 15:24] unixslayer commented on #73
@webdevilopers do you have a fork with those changes where I could look at it and fix the wiring?

[2021-04-15 17:24] webdevilopers commented on #73
Sorry no, I tried in a project locally. But all I changes are inside the `ProophEventStoreExtension` class and mentioned above. Nothing else was needed. Hope it helps.

[2021-04-15 19:20] unixslayer commented on #73
@webdevilopers looking at your configuration I assume that you are using prooph/event-store-symfony-bundle@0.8.0, right? prooph/event-sourcing dependency was dropped few months ago, but not yet released. Due to that change bundle will no longer manage/register repositories. Can you try to switch to master branch of a bundle and see if your problem still appears?

[2021-04-16 16:14] unixslayer commented on #73
@webdevilopers before changing to dev-master, please change projection_manager as follows:

[code]

What is happening here is that `EventStore` is passed into `ProjectionManager` by reference but ... bundle wraps every `EventStore` defined under `prooph_event_store.stores` section with decorator and registers the decorator as `prooph_event_store.%name%`. Plugins are attached only to decorator and

[2021-04-19 13:14] webdevilopers commented on #73
Thanks for your feedback @unixslayer . Using `dev-master` I get the following config error:

[code]

[code]

What has changed here?

[2021-04-19 13:26] unixslayer commented on #73
@webdevilopers like I've said before, on `dev-master` dependency for `prooph/event-sourcing` was dropped. But you should be ok injecting `EventStore` dependency into projection_manager using `prooph_event_store.default` reference, not `Prooph\EventStore\EventStore`.

[2021-04-19 13:37] webdevilopers commented on #73
Ah, got it! Is there any doc how to configure the repositories instead?

I now injected the event store:

[code]

When running the Projection Manager with this config should the upcaster be recognized?

[2021-04-19 13:42] webdevilopers commented on #73
Ah!

This seems to work:

[code]

[2021-04-19 13:52] unixslayer commented on #73
@webdevilopers this should be it.

As for the repository it can be defined just like any other service. Just remember to pass EventStore by the same name as for projection manager.

In your case it would be something like this:

[code]

I recommend to implement some abstraction for domain repositories, so configuration would be easier.

[2021-04-19 13:55] unixslayer commented on #73
@codeliner @prolic is there possibility to prepare release of this bundle? I have some additional changes to finish in addition with documentation that describes changes between 0.8.0 and new release, but those should be done by tomorrow.

[2021-04-20 02:08] prolic commented on #73
@unixslayer @webdevilopers Neither Alex nor I are symfony devs, if you want to, I can give you write access to this repository and let you handle releases.

[2021-04-20 05:59] unixslayer commented on #73
@prolic that would be awesome. Please and thank you ;)

[2021-04-20 10:32] webdevilopers commented on #73
Regarding your suggestion @unixslayer :

[code]

It looks like I have to pass the `$snapshotStore` parameter too.
But what about the `$aggregateType`? Isn't this to be the Aggregate Root - do I have to register them as services? Feels strange.

[2021-04-20 10:44] unixslayer commented on #73
If you want to use `dev-master` than yes, you have to register those as a service and pass it to the repository

[code]

A bit overhead so I suggest writing abstract repository by yourself, eg. https://github.com/unixslayer/event-store/blob/master/src/AggregateRepository.php

[2021-04-20 10:47] unixslayer commented on #73
@webdevilopers it is also possible to do some adjustments in `prooph/event-sourcing` repository so it can be used without this overhead.

[2021-04-20 10:48] webdevilopers commented on #73
Ah sure, the factory method has to be called! Another approach would be overwriting the constructor on the repository, right?

[code]

* https://pilsniak.com/cqrs-es-php-prooph

[2021-04-20 10:49] webdevilopers commented on #73
Yes indeed that would simplify the configuration.

[2021-04-20 10:49] unixslayer commented on #73
@webdevilopers all is correct although, if you will stay on 0.8.0, you don't have to do anything really beside injecting event store using `prooph_event_store.<name>` ID

[2021-04-21 00:48] prolic opened #75 "Security Warning by dependabot"
https://github.com/prooph/event-store-symfony-bundle/security/dependabot/composer.json/symfony%2Fhttp-kernel/open

@webdevilopers @unixslayer I let you handle this

[2021-04-21 11:11] webdevilopers commented on #73
Thanks for @unixslayer for clearing things up.

The issue is caused when not using the decorated event-store:

[code]

The solution is to reference the decorated event-store for the projection managers instead:

[code]

[2021-04-21 11:15] webdevilopers commented on #73
@unixslayer Are there any symfony flex recipes or docs that need to be updated to make this clear to other users?

E.g.:

https://github.com/symfony/recipes-contrib/blob/master/prooph/event-store-symfony-bundle/0.4/config/packages/prooph_event_store.yaml

[2021-04-21 11:18] unixslayer commented on #73
@webdevilopers I have a PR almost ready to merge with dosc updated.

https://github.com/prooph/event-store-symfony-bundle/pull/74

[2021-04-21 12:43] #55 closed

[2021-04-21 12:56] unixslayer commented on #75
@prolic 404 under that url

[2021-04-28 01:21] prolic commented on #75
Maybe that's a permission problem, I'll post a screenshot

![Screenshot_20210427_212105](https://user-images.githubusercontent.com/394428/116331824-8a2fec80-a79e-11eb-9692-dbd0065756bd.png)

[2021-05-11 12:16] unixslayer commented on #65
Starting from 0.9.x, this bundle no longer handle repositories

[2021-05-11 12:16] #65 closed

[2021-05-11 12:17] unixslayer commented on #50
Starting from 0.9.x, this bundle no longer handle repositories

[2021-05-11 12:17] #50 closed

[2021-06-04 12:24] webdevilopers commented on #49
The `OPTION_GAP_DETECTION` has been added. Not sure if it is missing in this bundle currently.
* https://github.com/prooph/pdo-event-store/pull/221

At least the option can be added directly to a single projection manager:

[code]

[2021-06-07 10:26] unixslayer commented on #49
@webdevilopers gap detection can be defined using projection options as [tagged service](https://github.com/prooph/event-store-symfony-bundle/blob/master/doc/projection_manager.md#tagged-service). However this way defined options must have a tag for each projection separately:

[code]

What you need is a nice addition 👍🏻 If in a hurry, you can introduce a PR or wait some time for me to figure it o

[2021-06-11 11:45] webdevilopers commented on #49
Thanks @unixslayer , we will try your suggested solution.

In addition @Mattin also suggested this projection command extension:

* https://github.com/prooph/pdo-event-store/issues/189#issuecomment-856191119

[2021-06-11 13:16] webdevilopers commented on #49
@unixslayer I just remembered that we talked about the "event sourcing" and "projection" dependencies in the current versions:#

* https://github.com/prooph/event-store-symfony-bundle/issues/73#issuecomment-822465092

Currently we still use `prooph/event-store-symfony-bundle` *^0.8.0*.
Then adding projection options will cause:

[code]

Similar issue w/ the tagged example since the extended class

[2021-06-11 13:20] unixslayer commented on #49
@webdevilopers I think you still should be able to use latest version of this bundle and require prooph/event-sourcing separately

[2021-06-11 13:21] webdevilopers commented on #49
Hm, without having to change the config?

* https://github.com/prooph/event-store-symfony-bundle/issues/73#issuecomment-822483731

And keep the **0.8.0** for `event-sourcing`?

[2021-06-11 13:31] webdevilopers commented on #49
Ok, got it!

[code]

Since we're on Symfony **5.1**.

We "only" have to replace the repositories e.g. via:

[code]

* https://github.com/prooph/event-store-symfony-bundle/blob/master/doc/migrating_from_0.8.0.md

Will give it a try now!

[2021-06-11 13:32] webdevilopers commented on #49
Hm, looks like the example couples the Aggregate Repository to the SnapshotStore library?

[code]

[2021-06-11 14:01] webdevilopers commented on #49
Looks promising so far.

Where can I verify that projection options are adapted?

[code]

Next I tried a simple dump inside a projector:

[code]

But the result does not use my custom values:

[code]

This happens with **0.9.1**. Any ideas?

[2021-06-11 14:06] webdevilopers commented on #49
BTW the tagges service works like a charm!

[code]

[code]

[2021-06-22 10:30] unixslayer commented on #49
@webdevilopers sorry for late response. I just checked it and looks like options should be adapted properly when defined in central projection configuration as you can see bellow:

![Zrzut ekranu z 2021-06-22 12-29-12](https://user-images.githubusercontent.com/1131246/122909428-77c4d000-d355-11eb-9fbe-2f7bbfb14542.png)

[2021-06-22 12:57] unixslayer commented on #49
@webdevilopers I've just released v0.9.3 which allows to define projection options in central configuration (eg. yaml). Please refer to [docs example](https://github.com/prooph/event-store-symfony-bundle/blob/v0.9.3/doc/projection_manager.md#central-1). Take note that both `retry_config` and `detection_window` are optional for `GapDetection`.

[2021-06-22 16:31] webdevilopers commented on #49
Thanks for the great work! Will try to check it out in the next days!

[2022-03-15 11:58] webdevilopers commented on #73
@unixslayer Recently I stumbled on this issue again. The linked recipe did not work for me:

https://github.com/symfony/recipes-contrib/blob/master/prooph/event-store-symfony-bundle/0.4/config/packages/prooph_event_store.yaml

Instead it had to look like this:

[code]

Otherwise Symfony will autowire the non-decorated Event Store which does NOT have enrichers or plugins registered.

Our versions:

[2022-04-08 07:36] unixslayer commented on #73
@webdevilopers when did you run into that problem? During ongoing development or at new instalation?

[2022-04-08 08:01] webdevilopers commented on #73
It was a new installation. We were starting with some aggregates and plugins did seem to work. Then we tried to add upcasting but they would not be recognized. I think it was a lot of back and fourth - some symfony cache issues maybe to - at the end the solution above was the only one that would always work for both - plugins and upcasters.